html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Amatic SC";
}

.centering {
    text-align: center;
}

#brand {
	margin-right: 10px;
	height: 20px;
	width: 20px;
	background: url('../img/logo_sm_dothis.png') no-repeat;
	background-size: contain;
	float: left;
}

.navbar {
	box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
	font-size: 1.4em;
}

.navbar-brand {
	font-family: "Amatic SC";
	font-size: 1.5em;
}

#nav-hidden {
    display: none;
}

#main {
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-position: center;
	max-height: 500px;
    height: 100%;
    width: 100%;
}

#login_box {
	width: 30%;
	padding: 40px;
	background-color: rgba(255, 255, 255, 0.7);
	position: relative;
	top: 125px;
	left: 50px;
	border-radius: 10px;
}

#text-center {
    display: none;
}

.form-control {
	margin-bottom: 10px;
	text-align: center;
	font-size: 1.5em;
}

@media (max-width: 767px) {
    #login_box {
        display: none;
    }
    
    #text-center {
        display: inline-block;
        text-align: right;
        float: right;
    }
    
    .navbar-nav {
        text-align: center;
    }
    
    #nav-hidden {
        display: block;
    }
    
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: none;
    }
    
    .form-control {
        font-size: 1em;
        width: 50%;
        margin: 5px auto;
    }
}

.main_text {
	font-size: 5em;
	margin-top: 20px;
}

span.quote {
	font-size: 20px;
	vertical-align: 35px;
}

#about, #features, #register, #contact {
	padding-top: 40px;
	width: 100%;
	height: 100%;
}

#btn-top {
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
	color: white;
}

#btn-top:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.block {
    text-align: center;
    height: 100%;
}
 
.block:before {
    content: '';
    display: inline-block;
    height: 100%; 
    vertical-align: middle;
    margin-right: -0.25em;
}
 
.centered {
    display: inline-block;
    vertical-align: middle;
}

.btn {
    font-size: 1.5em;
}

#reg-form input, #am-reg-form input {
    width: 200px;
}

#proj_title, #invite_email, #invite_subject, #edit_title, #email_title, #email_email, #email_subject {
    width: 400px;
}
 
#description, #invite_msg, #edit_description, #email_msg {
 	width: 400px;
 	height: 200px;
 	margin-bottom: 10px;
}

.popover {
    text-align: center;
    z-index: 1;
    font-size: 1.5em;
    margin-bottom: 20px;
    width: inherit;
}

.popover-title h2 {
    margin: 0;
}

.popover-content ul {
    list-style-type: none;
    padding: 0;
}

.cursor {
    cursor: pointer;
}

#general {
    padding: 100px;
	width: 100%;
    height: 100%;
}

#listofproj, #setting, #to_dashboard {
    margin: 10px auto;
}

#briefcase {
    font-size: 10em;
}

#space {
    margin: 0 5%;
}

.img-responsive {
    display: inline;
    width: 70%;
    height: 70%;
}

.close {
    font-size: 4em;
    position: relative;
    right: 20px;
}

.alert {
    font-size: 1.3em;
    margin: 0;
    padding: 5px;
}

.custom-file-input::-webkit-file-upload-button {
    display: none;
}

.custom-file-input::before {
    content: 'Upload picture';
    display: inline-block;
    color: black;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

#project-panel {
    width: 20%;
    height: 100%;
    float: left;
    overflow-y: hidden;
    background-color: #F3C100;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

#task-panel {
    width: auto;
    height: 100%;
    float: left;
    overflow-y: hidden;
    padding-top: 60px;
}

#worker-panel {
    width: 200px;
    height: 100px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #e7e7e7;
    border-radius: 10px;
    margin: 10px;
}

#worker-panel-left {
    width: 40%;
    height: 100%;
    padding: 0;
    text-align: center;
}

.fit {
    width: auto;
    height: auto;
    padding: 10px;
    
}